<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Hit Me at <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/sunbreathingg_">sunbreathingg_</a></p>
    <div id="card">
      <ion-card (click)="openModal()">
        <ion-card-header>
          <ion-img src="assets/img/H1D022040.jpeg"></ion-img>
          <ion-card-subtitle>Fahmi</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

  <!-- Modal untuk detail informasi -->
  <ion-modal #detailModal>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
        <ion-title>Detail Informasi</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-img src="assets/img/H1D022040.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{ folder }}</ion-card-subtitle> <!-- Menampilkan folder -->
          <ion-card-title>Informasi Lengkap</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ detailInfo }}</p> <!-- Menampilkan detail informasi -->
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-modal>
</ion-content>
